<mat-toolbar class="whiteBar">
    <span class="topBarExit"></span>
    <button mat-icon-button class="orangeButton">
      <mat-icon class="iconBack"><span class="material-symbols-outlined">
        arrow_back
        </span></mat-icon>
        <span class="back">Regresar</span>
    </button>
  </mat-toolbar>
<br><br>    
 <div class="formContainer">
    <mat-card class="example-card">
        
        <mat-card-content>
            <h2 class="centerItem whiteText">TU VISITA ESTA REGISTRADA</h2>
            <p class="whiteText"><mat-icon class="iconlitle"><span class="material-symbols-outlined">
                person
                </span></mat-icon> Hansel Andrés Armenta Ramos</p><br>
            <span class="whiteText slimtext"><mat-icon class="iconlitle">
                <span class="material-symbols-outlined">
                    calendar_today
                    </span></mat-icon> 22/01/2024</span> 
                <span class="sidetext whiteText slimtext"><mat-icon class="iconlitle"><span class="material-symbols-outlined">
                    schedule
                    </span></mat-icon> 09:00 hrs</span><br>
                    <p class="whiteText slimtext">Tolerancia: 5min.</p>
                    <br><br>
        <img class ="cardImg" mat-card-image src="../../../assets/qr.png"><br>
        
          <p class="centerItem whiteText slimtext">Compartir</p>
          <p class="centerItem"><mat-icon class="iconlitle">
            <span class="material-symbols-outlined">
                download_2
                </span></mat-icon>
                <mat-icon class="iconlitle">
                    <span class="material-symbols-outlined">
                        mail
                        </span></mat-icon></p>

        </mat-card-content>
      </mat-card><button class="green" mat-button routerLink="form">Aceptar</button>
 </div>
